body {
    display: grid;
    grid-template-rows: 50% 50%;
    margin: 0;
}

header {
    width: 100%;
    height: 100%;
    background-color: #029e6f;
}

main {
    width: 100%;
    height: 100%;
    background-color: black;
}

img{
    width: 100%;
    height: 252px;
}

#imgSmile{
    width: 100%;
    height: 252px;
}

#figComputer{
    margin: 0;
}

#divContentHeader {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}